.app__footer {
    padding: 2rem;
    border-top: 2px solid var(--color-golden);
    background: var(--color-black);
}
.app__footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 2rem 6rem;
}

.app__footer-container_contact {
    display: flex;
    flex-direction: column;
}

.app__footer-container_geritch{
    display: flex;
    flex-direction: column;
}
.app__footer-container_geritch img {
    width: 60%;
    margin: 0 auto;
}
.app__footer-container_geritch p {
    color: var(--color-white);
    font-family: var(--font-alt);
    font-size: 14px;

    margin: 1rem 0;
}


.app__footer-container_links {
    display: flex;
    flex-direction: column;
}
h5{
    font-family: var(--font-base);
    font-size: 30px;
    color: var(--color-white);
}
li {
    font-family: var(--font-alt);
    font-size: 14px;
    color: var(--color-white);
    cursor: pointer;
    margin: 0.5rem 0;
}

li:hover {
    color:var(--color-golden)
}


@media screen and (max-width:1050px) {
    .app__footer-container {
        display: flex;
        flex-direction: column;

        margin: 0;
    }
    .app__footer-container_geritch img {
        width: 60%;
        margin: 0;
    }
}